body{
    display: grid;
    grid-template-columns: 1;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: yellow;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2vw;
    row-gap: 1vh;

}

.container div{
    background-color: blue;
    color: yellow;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 2.5vh;
    text-align: center;
}

.teams{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.teams div{
    color: yellow;
    font-size: 4vh;
    margin-left: 2vw;

}

#gib, #wil, #gil{
    text-decoration: underline;
}

