body{
    display: grid;
    grid-template-columns: 1;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: yellow;
    text-align: center;
}

#points{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 0.5vh solid yellow;

}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2vw;
    row-gap: 1vh;

}

.container div{
    background-color: darkblue;
    color: yellow;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 2.5vh;
    text-align: center;
}

.teams{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.teams div{
    color: yellow;
    font-size: 4vh;
    margin-left: 2vw;

}

#gib{
    text-decoration: underline;
}

.reveal{
    display: none;
    
}

.reveal:hover{
    cursor:pointer;
}

#points *:hover{
    cursor:pointer;
    transform: scale(1.3);
}

.cat *{
    cursor: pointer;
}

#final{
    margin-top: 5vh;
    font-size: 5vh;
}

#final:hover{
    cursor: pointer;
}

#finalJep{
    font-size: 10vh;
    color: cyan;
    text-align: center;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    color: white;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    text-align: center;
  }

@media screen and (max-width:1000px){

    .container{
        grid-template-columns: repeat(4, 0.9fr);
        font-size: 1.5vh;
        
    }

    .teams div{
        font-size: 2vh;
        margin-left: 0.5vw;
    }

    .points div{
        font-size: 2vh;
    }

    #finalJep{
        font-size: 5vh;
        color: cyan;
        text-align: center;
    }

    #overlay{
        top: 0vh;
    }

    .container div{
        padding: 0vw;
        font-size: 1.5vh;
    }

  
    

}